body {
  background-color: #EFFFFD;
  margin: 0;
  text-align: center;
  font-family:serif;
  font-size:2rem;
  color:black;
}

h2
{
  color: #019267;
}

p{
  width:75%;
  margin:0 auto 1rem auto;
  line-height: 1.5;
}
p:hover
{
  background-color: #B8FFF9;
}

.span1:hover
{
  color:pink;
}

.span2:hover
{
  color:pink;
}
hr{
  border-style:dotted none none none;
  width:25%;
  border-width:10px;
}


.cloud1 {
  display: inline;
  position:absolute;
  right:200px;
  top:50px;
}

.cloud2 {
  position: absolute;
  left: 200px;
  top: 300px;
}

.span1 {
  font-size: 5.625rem;
  color: red;
  margin-top:25px;
  font-family:Dancing Script,cursive;
  line-height:2;
}
.span2 {
  font-size: 35px;
  color: red;
  font-family:Dancing Script,cursive;
  font-weight:bold;
}

.division1 {
  background-color: #B8FFF9;

  animation-name: example;
  animation-duration: 5s;
  padding:5px 5px 0 5px;
}


.img1
{
  width:280px;
  float:left;
  margin-right:30px;
}

.img2
{
  width:280px;
  float:right;
  border-radius:100%;

}

.mahamantra{

  text-align:center;
font-family:Dancing Script,cursive;
margin: 1rem auto;
}

.mountain{
  width:80%;
  height:50%;
  position:relative;
  top:7px;
}

.profile-pic
{
  height:7rem;
  width:7rem;
  position:fixed;
  top:50px;
  left:50px;
  border-radius:100%;
}

.profile-pic2
{
  height:15rem;
  width:15rem;
  position:relative;
  top:20px;

  border-radius:100%;
}

.skill-row
{
  width:75%;
  text-align:left;
  margin: 100px auto;
}

.bottom-container
{
  background-color:#B8FFF9;
}

.btn {
  margin:1rem;
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Brush Script MT;
   font-size: 40px;
   font-weight: 100;
   padding: 10px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
